<!DOCTYPE html>
<html>
<head>
  <title>Automecanica Echeverria</title>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyB9fn3x7c6qAK6MKArBhHJcR4gHmsTv7SM' %>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= yield %>

</body>
</html>